<%= form_for(hold, html: {class: 'pad-10'}) do |f| %>
  <% if hold.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hold.errors.count, "error") %> prohibited this hold from being saved:</h2>

      <ul>
      <% hold.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :book_id %>
    <%= f.select :book_id, options_from_collection_for_select(@books, 'id', 'title'), class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :user_id %>
    <%= f.text_field :user_id, value: User.first.id, class: 'form-control', readonly: true %>
  </div>

  <div class="form-group">
    <%= f.label :request_date %>
    <%= f.datetime_select :request_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :release_date %>
    <%= f.datetime_select :release_date, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
