<div class="container">
<p id="notice"><%= notice %></p>

<h1>Holds</h1>

<table class="datatable">
  <thead>
    <tr>
      <th>Book</th>
      <th>User</th>
      <th>Request date</th>
      <th>Release date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @holds.each do |hold| %>
      <tr>
        <td><%= hold.book %></td>
        <td><%= hold.user %></td>
        <td><%= hold.request_date %></td>
        <td><%= hold.release_date %></td>
        <td><%= link_to 'Show', hold %></td>
        <td><%= link_to 'Edit', edit_hold_path(hold) %></td>
        <td><%= link_to 'Destroy', hold, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hold', new_hold_path %>
</div>
