<%= form_for(book, html: {class: 'pad-10'}) do |f| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :author_last_name %>
    <%= f.text_field :author_last_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :author_first_name %>
    <%= f.text_field :author_first_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :isbn %>
    <%= f.text_field :isbn, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :publish_year %>
    <%= f.number_field :publish_year, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :genre %>
    <%= f.text_field :genre, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :reading_level %>
    <%= f.text_field :reading_level, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :subject %>
    <%= f.text_field :subject, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :language %>
    <%= f.text_field :language, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :length %>
    <%= f.number_field :length, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :material_type %>
    <%= f.text_field :material_type, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :series %>
    <%= f.text_field :series, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :series_number %>
    <%= f.text_field :series_number, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :image_url %>
    <%= f.text_field :image_url, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
