<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Books</h1>

  <%= link_to 'New Book', new_book_path, class: 'btn btn-primary' %>

  <br><br>

  <ul class="nav nav-tabs" id="show-books" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="all-books-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">All Books</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="featured-tab" data-toggle="tab" href="#featured" role="tab" aria-controls="featured" aria-selected="false">Featured Books</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="categories-tab" data-toggle="tab" href="#categories" role="tab" aria-controls="categories" aria-selected="false">Categories</a>
    </li>
  </ul>

  <div class="tab-content" id="show-books-tab-content">
    <div class="tab-pane fade show pad-10 active" id="all" role="tabpanel" aria-labelledby="all-books-tab">
      <table class="table table-striped table-condensed datatable">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Author</th>
            <th>Publish year</th>
            <th>Availability</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><%= image_tag book.image_url, size: '30' %></td>
              <td><%= book.title %></td>
              <td><%= book.author_last_name %>, <%= book.author_first_name %></td>
              <td><%= book.publish_year %></td>
              <% if !book.due_date.blank? %>
              <td><span class="badge badge-danger badge-pill">Due <%= book.due_date %></span></td>
              <% elsif !book.release_date.blank? %>
              <td><span class="badge badge-warning badge-pill">Reserved</span></td>
              <% else %>
              <td><span class="badge badge-success badge-pill">Available</span></td>
              <% end %>
              <td>
                <div class="dropdown">
                  <button class="btn btn-info dropdown-toggle" type="button" id="book-actions-button<%= book.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                  </button>
                  <div class="dropdown-menu" aria-labelledby="book-actions-button<%= book.id %>">
                    <%= link_to 'Show', book, class: 'dropdown-item' %>
                    <% if user_signed_in? && book.due_date.blank? && book.release_date.blank? %>
                    <%= link_to 'Place a hold', holds_path(hold: {user_id: current_user.id, book_id: book.id, request_date: DateTime.now, release_date: DateTime.now+7}), method: :post, class: 'dropdown-item' %>
                    <% end %>
                    <% if current_user.try(:admin?) %>
                    <%= link_to 'Edit', edit_book_path(book), class: 'dropdown-item' %>
                    <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item' %>
                    <% end %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="tab-pane fade pad-10" id="featured" role="tabpanel" aria-labelledby="featured-tab">Coming Soon!</div>

    <div class="tab-pane fade pad-10" id="categories" role="tabpanel" aria-labelledby="categories-tab">
      <% @categories.each do |category| %>
        <%= form_tag search_query_path, method: 'post', class: 'd-inline' do %>
          <%= hidden_field_tag :type, 'genre' %>
          <button class="btn btn-success" type="submit" name="term" value="<%= category.genre %>"><%= category.genre %></button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
