<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Books</h1>

  <ul class="nav nav-tabs" id="show-books" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="all-books-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">All Books</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="featured-tab" data-toggle="tab" href="#featured" role="tab" aria-controls="featured" aria-selected="false">Featured Books</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="categories-tab" data-toggle="tab" href="#categories" role="tab" aria-controls="categories" aria-selected="false">Categories</a>
    </li>
  </ul>

  <div class="tab-content" id="show-books-tab-content">
    <div class="tab-pane fade show pad-10 active" id="all" role="tabpanel" aria-labelledby="all-books-tab">
      <%= render partial: 'layouts/book_table', locals: { books: @books } %>
    </div>

    <div class="tab-pane fade pad-10" id="featured" role="tabpanel" aria-labelledby="featured-tab">Coming Soon!</div>

    <div class="tab-pane fade pad-10" id="categories" role="tabpanel" aria-labelledby="categories-tab">
      <% @categories.each do |category| %>
        <%= form_tag search_query_path, method: 'post', class: 'd-inline' do %>
          <%= hidden_field_tag :type, 'genre' %>
          <button class="btn btn-success" type="submit" name="term" value="<%= category.genre %>"><%= category.genre %></button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
