<div class="container pad-10">
  <p id="notice"><%= notice %></p>

  <h2>
    <%= @book.title %>
  </h2>

  <%= image_tag @book.image_url %>

  <table class="table table-bordered table-sm">
    <tr>
      <th class="thead-light">Title:</th>
      <td><%= @book.title %></td>
    </tr>
    <tr>
      <th class="thead-light">Author</th>
      <td><%= @book.author %></td>
    </tr>
    <tr>
      <th class="thead-light">ISBN</th>
      <td><%= @book.isbn %></td>
    </tr>
    <tr>
      <th class="thead-light">Publication Year</th>
      <td><%= @book.publish_year %></td>
    </tr>
    <tr>
      <th class="thead-light">Genre</th>
      <td><%= @book.genre %></td>
    </tr>
    <tr>
      <th class="thead-light">Subject</th>
      <td><%= @book.subject %></td>
    </tr>
    <tr>
      <th class="thead-light">Language</th>
      <td><%= @book.language %></td>
    </tr>
  </table>

  <% if current_user.try(:admin?) %>
  <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-primary' %> |
  <% end %>
  <% if user_signed_in? %>
  <%= link_to 'Request hold', holds_path(hold: {user_id: current_user.id, book_id: @book.id, request_date: DateTime.now, release_date: DateTime.now+7}), method: :post, class: 'btn btn-primary' %>
  <% end %>
  <%= link_to 'Back', books_path, class: 'btn btn-primary' %>

</div>
