<%= form_for(loan) do |f| %>
  <% if loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
      <% loan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :book_id %>
    <%= f.text_field :book_id %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :date_borrowed %>
    <%= f.datetime_select :date_borrowed %>
  </div>

  <div class="field">
    <%= f.label :due_date %>
    <%= f.datetime_select :due_date %>
  </div>

  <div class="field">
    <%= f.label :date_returned %>
    <%= f.datetime_select :date_returned %>
  </div>

  <div class="field">
    <%= f.label :renewed_count %>
    <%= f.number_field :renewed_count %>
  </div>

  <div class="field">
    <%= f.label :overdue %>
    <%= f.check_box :overdue %>
  </div>

  <div class="field">
    <%= f.label :fine %>
    <%= f.text_field :fine %>
  </div>

  <div class="field">
    <%= f.label :fine_paid_date %>
    <%= f.datetime_select :fine_paid_date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
